.header {
  padding: 28px 64px;
}
.logo {
  margin-right: 450px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigationList {
  display: flex;
  gap: 32px;
}

.navigationLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.navigationLink:hover,
.navigationLink:focus,
.navigationLink:active {
  color: var(--button-hover);
}
