.header {
  padding-top: 28px;
  padding-bottom: 28px;
  background: var(--inputs);
}
.logo {
  margin-right: 450px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigationList {
  display: flex;
  gap: 32px;
  margin-right: 256px;
}

.navigationLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.navigationLink:hover,
.navigationLink:focus,
.navigationLink:active {
  color: var(--button-hover);
}
.favoritesLink {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}
.heartIcon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--button);
  transition: stroke 0.2s ease;
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;

  min-width: 18px;
  height: 18px;

  padding: 0 4px;

  background-color: #e44848;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
