.list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 40px;
}
.loadMore {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;

  color: var(--main);
  background-color: transparent;

  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  margin: 0 auto;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.loadMore:hover,
.loadMore:focus {
  background-color: var(--gray-light);
  color: var(--main);
}

.loadMore:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: transparent;
}
