.hero {
  position: relative;
  /* width: 100%; */
  min-height: 696px;
  background-image: url("/image/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 260px 64px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/image/hero@2x.webp");
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}
.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  background: var(--button);
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
}

.link :hover,
.link :focus {
  cursor: pointer;
  background: var(--button-hover);
}
