.catalog {
  padding: 48px 0px 0px 64px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.layout {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 24px;
  align-items: flex-start;
}
