.card {
  display: flex;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
}

.imageWrapper {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 16px;
}

.favoriteBtn {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.favoriteIcon {
  width: 24px;
  height: 24px;
  display: block;

  color: var(--main);
}

.favoriteBtnActive .favoriteIcon {
  color: var(--button);
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
.priceWrapper {
  display: flex;
  gap: 12px;
}

.metaRow {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: var(--text);
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.starIcon {
  width: 15px;
  height: 14px;
  flex-shrink: 0;
  display: inline-block;
}
.reviews {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.locationIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
}
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.description {
  max-width: 525px;
  max-width: 525px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  padding: 8px 14px;
  border-radius: 100px;
  background-color: var(--badges);
  font-size: 12px;
  color: var(--main);
  display: flex;
  align-items: center;
  gap: 8px;
}
.badgeIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: inline-block;
}

.showMore {
  display: inline-block;
  border-radius: 200px;
  padding: 16px 40px;

  background-color: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.showMore:hover {
  background-color: var(--button-hover);
}
